NEXT_PUBLIC_COGNITO_DOMAIN=https://your-domain.auth.us-east-2.amazoncognito.com
NEXT_PUBLIC_COGNITO_CLIENT_ID=your_cognito_app_client_id
NEXT_PUBLIC_COGNITO_REDIRECT_URI=http://localhost:3000/login
NEXT_PUBLIC_COGNITO_LOGOUT_URI=http://localhost:3000/login
NEXT_PUBLIC_COGNITO_SCOPES=openid
NEXT_PUBLIC_API_BASE_URL=https://your-api-id.execute-api.us-east-2.amazonaws.com/prod
